.container, .title, .poengtitle, .buttoncontainer, .textcontainer {
    display: flex;
    justify-content: center;
}

.grid div {
    margin: 30px;
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}

.result2 {
    display: flex;
    justify-content: center;
}

.result {
    font-size: 30px;
}